<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
    </head>
    <body>
        <h1>Welcome {{ request.session.name }}</h1>
        <!-- <table>
            <tr align=left>
                <th>ID</th>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Salt</th>
                <th>Password</th>
            </tr>
            <tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.salt }}</td>
                    <td>{{ user.password }}</td>
                </tr>
                {% endfor %}
            </tr>
        </table> -->
    </body>
</html>
